@charset "utf-8";
/* CSS Document */


#header {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:13px;
	line-height:1.4;
}
#header .navb {
	font-size:16px;
	font-weight:bold;
}

#header a {
	color:#00a0dc;
	text-decoration:none;
}
#header a:hover {
	color:#00c0ff;
}
#footer {
	font-size:13px;
}